.add-note {
    background-color: red;
    display: flex;
    flex-direction: column;

    .header {
        border-bottom: 1px solid #ccc;
        background-color: white;
        color: #333;
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;

        .container {
            height: 65px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & h2 {
                font-size: 22px;
            }

            .links-container {
                display: flex;
                font-size: 26px;
                gap: 15px;

                & a {
                    display: flex;

                    & svg {
                        color: #333;
                    }
                }
            }
        }
    }

    .add-upt-inputs {
        position: absolute;
        z-index: 0;
        width: 100%;
        top: 65px;
        padding: 15px 0 85px 0;

        .container input {
            width: 100%;
            box-sizing: border-box;
            padding: 17px;
            margin-bottom: 10px;
            border-radius: 10px;
            border: 1px solid #ccc;
            font-size: 20px;
            background-color: white;
        }

        .container textarea {
            width: 100%;
            font-size: 16px;
            box-sizing: border-box;
            border-radius: 10px;
            border: 1px solid #ccc;
            height: 1000px;
            padding: 17px;
            background-color: white;
            resize: none;
        }
    }

    .save-footer {
        width: 100%;
        position: fixed;
        z-index: 1;
        bottom: 0;
        background-color: white;
        border-top:1px solid #ccc;
        .container {
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap:10px;

            & button {
                height: 45px;
                flex: 1;
                border: none;
                font-size: 16px;
                border-radius: 10px;
                background-color: #333;
                color: white;
                &.disabled{
                    opacity: 0.8;
                }
            }

            & div {
                display: flex;
                font-size: 40px;
                &.disabled{
                    opacity: 0.8;
                }
            }
        }

        .error-div {
            font-size: 12px;
            text-align: center;
            font-weight: bold;
            padding: 7px 10px 2px 10px;
            color: #b33a3a;
        }
    }
}